#bg {
  height: 200vh;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-position: 50% 0;
  background-repeat: no-repeat;
  font-family: Verdana, sans-serif;
}

h3 {
  font-size: 35px;
}

.top-bar {
  background-color: #0A2C4A;
  width: 100vw;
  height: 10vh;
  z-index: 200;
  position: fixed;
}

.logo {
  width: 20vw;
  margin-top: 2.5vh;
  padding: 15px;
  margin-left: 50px;
}

.mySlides {
  display: none;
}

/* Slideshow container */
.slideshow-container {
  max-width: auto;
  height: 100vh;
  overflow: hidden;
  position: relative;
  margin: auto;
}

.slideshow-container img {
  width: 100vw;
  height: auto;
  position: relative;
}

.opacity-container {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  left: 0;
  background-color: #0a2c4a;
  opacity: 0.5;
  z-index: 1;
  display: block;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 2vw;
  padding: 8px 12px;
  position: absolute;
  bottom: 50vh;
  left: 10vw;
  width: 40%;
  z-index: 1;
}

/* The dots/bullets/indicators */
.over-container {
  position: relative;
}

.dot-container {
  display: flex;
  justify-content: center;
  z-index: 1000;
  margin-left: -45%;
  margin-top: -5%;
}

.dot {
  height: 20px;
  width: 20px;
  margin: 0 5px;
  border-color: white;
  border-style: solid;
  border-radius: 50%;
  display: block;
  transition: background-color 0.6s ease;
  z-index: 2;
}

.active {
  background-color: white;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px
  }
}

/* STYLING AF LOGIN*/
.login {
  width: 28vw;
  margin: 16px auto;
  font-size: 16px;
  position: absolute;
  margin-top: -78vh;
  margin-left: 65vw;
  z-index: 2;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

.login-header {
  background: #0068B4;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #ebebeb;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="fornavn"],
.login input[type="efternavn"],
.login input[type="email"],
.login input[type="password"],
.login input[type="land"],
.login input[type="firma"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.login input[type="fornavn"]:focus,
.login input[type="eftenavn"]:focus,
.login input[type="email"]:focus,
.login input[type="password"]:focus,
.login input[type="land"]:focus,
.login input[type="firma"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: #0068B4;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #17c;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #05a;
}

/* FLEX AF FORNAVN & EFTERNAVN */
.navn-container {
  display: flex;
  flex-direction: row;
}

/* STYLING AF "LAND"-DROP-DOWN */
/*the container must be positioned relative:*/
.custom-select {
  position: relative;
}

.custom-select select {
  display: none;
  /*hide original SELECT element:*/
}

.custom-select {
  background: #fff;
  border-color: #bbb;
  border-style: solid;
  color: #555;
  border-width: 1px;
  box-sizing: border-box;
  display: block;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
  margin: 12px;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 20px;
  right: 10px;
  width: 0;
  height: 0;
  border-color: #0068B4 transparent transparent transparent;
  border-style: solid;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent blue transparent;
  top: 15px;
  border-style: solid;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: #555;
  cursor: pointer;
  user-select: none;
}

.select-items div {
  padding: 10px;
  margin-left: 20px;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  border-color: #555;
  border-style: solid;
  border-width: 1px;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/* STYLING TIL VISNING AF INFO-TEKST */
#newpost {
  display: none;
}

#newpost.visible {
  display: block;
  display: flex;
  justify-content: flex-start;
}

.betingelser {
  display: flex;
  justify-content: flex-start;
}

.check-krav {
  margin-top: 12px;
}

.check-krav-text {
  font-size: 11.5px;
}


/*///////pop up /////*/

.button{
    background-color: gray;
    padding:1em 2em;
    color:white;
    border:0;

}

.button:hover{
    background: #333;
}

.modal{
    display:none;
    position:fixed;
    z-index: 1;
    left:0;
    top:0;
    height: 100%;
    width:100%;
    overflow: auto;
    background-color: rgba(0,0,0, 0.5);
}

.modal-content{
    background-color:#f4f4f4;
    margin:20% auto;
    padding:20px;
    width:70%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgb(0,0,0,0.2);
}

.closebtn{

    color:#ccc;
    float: right;
    font-size: 30px;

}

.closebtn:hover, .closebtn:focus{
    color:#000;
    text-decoration: none;
    cursor: pointer;
}


.modal h1{
    width:40%;
}

.hvorfor{
    width:40%;
}

.col1{
    margin-left: 5%;
}

.col2{
    width:40%;
    font-size:1.2vw;

    margin-left:50%;
    position:relative;
    top:-170px;  


}

.jobtitel{
    width:70%;
    height:30px;
    font-size: 1.1vw;

}







/* NUDGING BANNER */
.nav-bar-img {
  width: 100vw;
  height: auto;
  z-index: 10;
}

.nudging-banner {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.blue-overlay {
  position: absolute;
  width: 90%;
  height: 100%;
  background-color: #0a2c4a;
  opacity: 0.5;
  z-index: 1;
  display: block;
}

.nudging-img {
  width: 90%;
  height: auto;
}

.nudging-banner-text {
  position: absolute;
  z-index: 2;
  font-size: 1.5rem;
  margin-left: -15%;
}

.nudging-banner-btns {
  margin-top: 5vh;
  display: flex;
}

#opret {
  background: #4AA22C;
  color: #fff;
  border-style: none;
}

#læs-mere {
  background: #0A2C4A;
  color: #fff;
  border-style: none;
  margin-left: 1vw;
}

.nudging-banner {
  color: #FFFFFF;
}

/* NUDGING BAR */
.nudging-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 8vh;
  background-color: #0A2C4A;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nudging-bar p {
  font-size: 1rem;
}

.btn {
  padding: 5%;
  cursor: pointer;
  width: 7vw;
  height: 4vh;
}

#verificer {
  background: transparent;
  border-color: white;
  color: #fff;
  margin-left: 2vw;
}


/* POP UP NUDGING */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.progress-container {
     width: 600px;
     margin: 100px auto;
 }
 .progressbar {
     counter-reset: step;
 }
 .progressbar li {
     list-style-type: none;
     width: 25%;
     float: left;
     font-size: 12px;
     position: relative;
     text-align: center;
     text-transform: uppercase;
     color: #7d7d7d;
 }
 .progressbar li:before {
     width: 30px;
     height: 30px;
     content: counter(step);
     counter-increment: step;
     line-height: 30px;
     border: 2px solid #7d7d7d;
     display: block;
     text-align: center;
     margin: 0 auto 10px auto;
     border-radius: 50%;
     background-color: white;
 }
 .progressbar li:after {
     width: 100%;
     height: 2px;
     content: '';
     position: absolute;
     background-color: #7d7d7d;
     top: 15px;
     left: -50%;
     z-index: -1;
 }
 .progressbar li:first-child:after {
     content: none;
 }
 .progressbar li.active {
     color: green;
 }
 .progressbar li.active:before {
     border-color: #55b776;
 }
 .progressbar li.active + li:after {
     background-color: #55b776;
 }

